body {
  margin: 0;
  color: #000;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.custom-container {
  width: 80%;
  margin: 0 auto; /* Center the container */
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
}

.panel {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}

.large-panel {
  background-color: #f0f0f0;
  flex: 0 0 70%; /* Adjust the width of the large panel */
}

.small-panel {
  background-color: #e0e0e0;
  flex: 0 0 30%; /* Adjust the width of the small panels */
  margin-left: 15px; /* Add some space between the small panels */
}

/* Add a media query to stack small panels on smaller screens */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .small-panel {
    margin-left: 0; /* Remove margin on smaller screens */
  }
}

.fade {
  animation: fade ease both;
  animation-timeline: view();
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
